{% load staticfiles %}
<footer class="site-footer">
  		<div class="footer-top">
  			<div class="container">
  				<div class="row">
  					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  						<div class="footer-head">
  							<h3>About us</h3>
  						</div>
							<div class="footer-content">
								<p>At SkoolOfCode we help young minds take their first steps towards programming. SkoolOfCode believes that the curiosity and creativity of the young minds when infused with the power of code can prepare them to carve a successful career path for themselves.</p> 
                <p>We offer an array of "Instructor-Led" Online courses that cover programming holistically and make 'learning to code' fun and rewarding.</p>
							</div>
  					</div>
  					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
  						<div class="footer-head">
  							<h3>Contact Us</h3>
  						</div>
						<div class="footer-content">
							<ul class="contact-us-list">
								<li>PotKinPie LLC, Redmond, USA -98052</li>
								<li>+1 425-894-3938</li>
								<li>learn@skoolofcode.com</li>
							</ul>
						</div>
  					</div>
  					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
  						<div class="footer-head">
  							<h3>Connect With Us</h3>
						</div>
						<div class="footer-content">
							<ul class="footer-ul">
								<li><a href="https://www.facebook.com/skoolofcode/">Facebook</a></li>
								<li>Twitter</li>
								<li>Google Plus</li>
								<li>Linkedin</li>
							</ul>
						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="footer-bottom">
  			<div class="container">
  				<p class="text-center">Copyrighted to SkoolOfCode</p>
  			</div>
  		</div>
  	</footer>