{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Coding for kids
{% endblock %}
{% block content %}
  	<!-- learn-to-code-section start here -->
  	<section class="learn-to-code-section">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
  					<div class="learn-to-code-head text-center">
  						<h1>Why learn to code</h1>
  						<div class="head-divider">
  							<img alt="divider-dark" border="0" src="{% static 'img/divider-dark.png' %}">
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-6">
  					<div class="learn-code-service text-center">
  						<div class="learn-code-icon">
  							<div class="learn-code-icon-inner">
  								<img alt="code-icon1" border="0" src="{% static 'img/code-icon1.png' %}">
  							</div>
  						</div>
  						<p>Foster Curiosity</p>
  					</div>
  				</div>
  				<div class="col-xs-6">
  					<div class="learn-code-service text-center">
  						<div class="learn-code-icon">
  							<div class="learn-code-icon-inner">
  								<img alt="code-icon2" border="0" src="{% static 'img/code-icon2.png' %}">
  							</div>
  						</div>
  						<p>Structured Problem Solving</p>
  					</div>
  				</div>
  				<div class="col-xs-6">
  					<div class="learn-code-service text-center">
  						<div class="learn-code-icon">
  							<div class="learn-code-icon-inner">
  								<img alt="code-icon3" border="0" src="{% static 'img/code-icon3.png' %}">
  							</div>
  						</div>
  						<p>Develop Interest in Math</p>
  					</div>
  				</div>
  				<div class="col-xs-6">
  					<div class="learn-code-service text-center">
  						<div class="learn-code-icon">
  							<div class="learn-code-icon-inner">
  								<img alt="code-icon4" border="0" src="{% static 'img/code-icon4.png' %}">
  							</div>
  						</div>
  						<p>Be an Innovator</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
  	<!-- learn-to-code-section end here -->

  	<!-- skool-code-section start-here -->
  	<section class="skool-code-section">
  		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="skool-code-head text-center">
						<h1>Skool of code</h1>
						<div class="head-divider">
							<img alt="divider-white" border="0" src="{% static 'img/divider-white.png' %}">
						</div>
						<p>At SkoolOfCode we help young minds take their first steps towards programming. SkoolOfCode believes that the curiosity and creativity of the young minds when infused with the power of code can prepare them to carve a successful career path for themselves. We offer an array of "Instructor-Led" Online courses that cover programming holistically and make 'learning to code' fun and rewarding.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="skool-code-list">
						<ul>
							<li>Expert instructor led</li>
							<li>Online classes from the comfort of your home</li>
							<li>Small groups and private classes</li>
						</ul>
					</div>
				</div>
			</div>
  		</div>
  	</section>
  	<!-- skool-code-section end-here -->

  	<!-- our-courses-section start-here -->
  	<section class="our-courses-section">
  		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="our-courses-head text-center">
						<h1>Our Courses</h1>
						<div class="head-divider">
							<img alt="divider-dark" border="0" src="{% static 'img/divider-dark.png' %}">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service orange-bg">
						<div class="our-course-img">
							<img alt="course-bg1" border="0" src="{% static 'img/beginner-course-img.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>Animations with Scratch (Beginner)</h3>
							<p>Introduction to programming basics with scratch. Learn creating characters, costumes and using programming blocks to create your first animations.</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>3+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>2 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service orange-bg">
						<div class="our-course-img">
							<img alt="course-bg2" border="0" src="{% static 'img/beginner-course-img.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>Master of Scratch (Beginner)</h3>
							<p>In-depth programming with scratch. Learn about variables, decisions, loops, creating animations with characters and costumes, complex program controls, adding sounds, sensing color and more. Practice writing code with assignments and projects.</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>4+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>6 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service blue-bg">
						<div class="our-course-img">
							<img alt="course-bg3" border="0" src="{% static 'img/course-bg1.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>Intro to Python (Intermediate)</h3>
							<p>Learn about computer basics, programming with variables, conditions, loops and simple data structures. Learn breaking down a problem to a solution, Practice design and writing code with assignments and projects.</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>7+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>6 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service blue-bg">
						<div class="our-course-img">
							<img alt="course-bg3" border="0" src="{% static 'img/course-bg1.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>Developer Tool Box (Intermediate)</h3>
							<p>Get Ninja chops with state of art developer tools. Learn creating, managing and sharing GitHub code repositories, Setup Raspberry Pi and run programs on it, Get comfortable with basic HTML and create a web portfolio to host your projects.</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>7+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>3 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service blue-bg">
						<div class="our-course-img">
							<img alt="course-bg3" border="0" src="{% static 'img/course-bg1.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>GUI app Development (Intermediate)</h3>
							<p>Learn object oriented programming and GUI applications. Understand GUI frameworks and master app development with Kivy and Python. Develop and deploy a medium sized application on multiple platforms.</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>7+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>4 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<div class="our-course-service green-bg">
						<div class="our-course-img">
							<img alt="course-bg3" border="0" src="{% static 'img/advanced-course-img.jpg' %}">
						</div>
						<div class="our-course-content">
							<h3>Tinker Bot (Advanced)</h3>
							<p>Setup your own Raspberry Pi, Learn about peripherals like camera,  sensors and motors.  Deep dive into the power of the Linux shell and advanced Python to control and command your bot. For projects program with Minecraft or unleash your creative self to make camera, jukebox, remote controlled car or more!</p>
						</div>
						<div class="our-course-footer">
							<ul>
								<li>
									<p><b>Grade</b></p>
									<p>8+</p>
								</li>
								<li>
									<p><b>Duration</b></p>
									<p>6 Months</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
  		</div>
  	</section>
  	<!-- our-courses-section start-here -->

  	<!-- affordable-pricing-section start-here -->
  	<section class="affordable-pricing-section">
  		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="affordable-pricing-head text-center">
						<h1>Simple Affordable Pricing</h1>
						<div class="head-divider">
							<img alt="divider-dark" border="0" src="{% static 'img/divider-dark.png' %}">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
						  <div class="affordable-pricing-row">
						  	<div class="affordable_pricing-head text-center">
						  		<h2>Small Groups</h2>
						  		<p>(1:3)</p>
						  	</div>
						  	<div class="affordable-price-div text-center">
						  		<span>$75</span><sub>/m</sub>
						  	</div>
						  	<div class="affordable-pricing-footer text-center">
						  		<a class="order-now-btn" href="{% url 'schedule' %}">Schedule a Free Trial</a>
						  	</div>
						  </div>
						</div>
						<div class="item">
						  <div class="affordable-pricing-row">
						  	<div class="affordable_pricing-head text-center">
						  		<h2>Private session</h2>
						  		<p>(1:1)</p>
						  	</div>
						  	<div class="affordable-price-div text-center">
						  		<span>$225</span><sub>/m</sub>
						  	</div>
						  	<div class="affordable-pricing-footer text-center">
						  		<a class="order-now-btn" href="{% url 'schedule' %}">Schedule a Free Trial</a>
						  	</div>
						  </div>
						</div>
					</div>					
				</div>
			</div>			
  		</div>
  	</section>
  	<!-- affordable-pricing-section end-here -->

  	{% endblock %}