<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
There is new application is submitted on the schedule page. Details submitted with the request are given below. For full details please reach admin panel. Thank you.
<center>

<table>
	<tr>
		<td colspan="2" style="text-align: center;"><h3>New Schedule Apllication Details</h3></td>
	</tr>
	<tr>
		<td style="font-weight:bold">Track</td>
		<td style="text-align: center;">{{ track }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Timezone</td>
		<td style="text-align: center;">{{ timezone }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Student Name</td>
		<td style="text-align: center;">{{ stuname }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Parent Email</td>
		<td style="text-align: center;">{{ pemail }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Sloat A Day</td>
		<td style="text-align: center;">{{ slotaday }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Sloat A Time</td>
		<td style="text-align: center;">{{ slota }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Sloat B Day</td>
		<td style="text-align: center;">{{ slotbday }}</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Sloat B Time</td>
		<td style="text-align: center;">{{ slotb }}</td>
	</tr>
</table>
</center>
</body>
</html>